{
	"tabWidth": 4,
	"useTabs": true,
	"trailingComma": "all",
	"semi": false,
	"singleQuote": true,
	"bracketSameLine": true,
	"arrowParens": "always",
	"singleAttributePerLine": false,
	"htmlWhitespaceSensitivity": "css",
	"bracketSpacing": false,
	"printWidth": 150,
	"quoteProps": "preserve"
}
